<div data-type="slide" class="galleryft-slider__slide">
  <img class="galleryft-slider__image" lowsrc="./img/architecture/1-low.jpg" src="./img/architecture/1.jpg" alt="">
</div>

<div data-type="slide" class="galleryft-slider__slide">
  <img class="galleryft-slider__image" src="./img/architecture/2.jpg" alt="">
</div>

<div data-type="slide" class="galleryft-slider__slide galleryft-slider__slide_active">
  <img class="galleryft-slider__image" src="./img/architecture/3.jpg" alt="">
</div>

<div data-type="slide" class="galleryft-slider__slide">
  <img class="galleryft-slider__image" lowsrc ="./img/architecture/4-low.jpg" src="./img/architecture/4.jpg" alt="">
</div>

<div data-type="slide" class="galleryft-slider__slide">
  <img class="galleryft-slider__image" src="./img/architecture/5.jpg" alt="">
</div>

<div data-type="slide" class="galleryft-slider__slide">
  <img class="galleryft-slider__image" src="./img/architecture/6.jpg" alt="">
</div>

<div data-type="slide" class="galleryft-slider__slide">
  <img class="galleryft-slider__image" src="./img/architecture/7.jpg" alt="">
</div>
