<div class="slider-curator">
    <div class="wrapper margin22">


      <div class="slider__slide slider-curator__slide pinkBg active5">
        <img class="curator-avatar" src="https://static.tildacdn.com/tild3838-6430-4062-b065-306264376562/1.jpg">
        <h2 class="reset curator-title">КАМЕНСКИХ ЕКАТЕРИНА</h2>
        <p class="curator-list">
          <span class="curator-label">✓</span> С 2008 г. занимается дизайном интерьеров
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> 40 выполненных проектов квартир и жилых домов площадью от 35 кв.м. до 150 кв.м.
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Опыт работы в текстильном декоре
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Регулярно посещает онлайн-лекции по дизайну
        </p>
      </div>


      <div class="slider__slide slider-curator__slide pinkBg">
        <img class="curator-avatar" src="https://static.tildacdn.com/tild3230-3438-4232-b063-626461666532/2.jpg">
        <h2 class="reset curator-title">ПУЗАНКОВА ВИКТОРИЯ</h2>
        <p class="curator-list">
          <span class="curator-label">✓</span> Дизайнер, архитектор
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Образование: колледж архитектуры в Минске (МГАСК), технический университет БНТУ
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> 5 лет в малоэтажном строительстве
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Повышает квалификацию в школе дизайна интерьера
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Изучает Васту
        </p>
      </div>


      <div class="slider__slide slider-curator__slide pinkBg">
        <img class="curator-avatar" src="https://static.tildacdn.com/tild6237-6261-4633-a431-623765663464/3.jpg">
        <h2 class="reset curator-title">РАБИНЕР ДАРЬЯ</h2>
        <p class="curator-list">
          <span class="curator-label">✓</span> Образование: Международная Школа дизайна в Москве
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Опыт работы в дизайне интерьеров 5 лет
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Работала в ГК ПИК (Пик-ремонт) дизайнером интерьеров
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Проектировала квартиры от 27 кв.м. до 270 кв.м.
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Разрабатывала планировочное решение, расстановку мебели и др. чертежи, основываясь на образе жизни заказчиков
        </p>
      </div>


      <div class="slider__slide slider-curator__slide pinkBg">
        <img class="curator-avatar" src="https://static.tildacdn.com/tild3064-3762-4435-a331-316637623936/4.jpg">
        <h2 class="reset curator-title">РУДОВИЧ АЛИНА</h2>
        <p class="curator-list">
          <span class="curator-label">✓</span> Высшее архитектурное образование
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Дизайнер интерьеров
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Опыт работы в дизайне интерьеров 5 лет
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Более 100 реализованных проектов
        </p>
      </div>


      <div class="slider__slide slider-curator__slide pinkBg ">
        <img class="curator-avatar" src="https://static.tildacdn.com/tild3961-3930-4764-a564-383665643964/5.jpg">
        <h2 class="reset curator-title">СЕМЕНОВА ЕКАТЕРИНА</h2>
        <p class="curator-list">
          <span class="curator-label">✓</span> 9 лет в архитектуре, 2 года в дизайне интерьеров
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Образование: колледж архитектуры в Москве, МГСУ
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Исследовала аспекты восприятия цвета на психосоматику человека
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Опыт работы в дизайнерских студиях, выступала на конференциях
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Проводила исследовательскую работу по стилю
        </p>
        <p class="curator-list">
          <span class="curator-label">✓</span> Бионика как ключ к красоте и гармонии в природных началах
        </p>
      </div>


    </div>

    <div class="navigation5">
      <div class="btn-wrapper btn-wrapper_left">
        <img class="btn-left" src="https://static.tildacdn.com/tild6331-6565-4936-b235-373230313235/arrow-left.svg" alt="">
      </div>
      <div class="slider-info hidden">1/6</div>
      <div class="btn-wrapper btn-wrapper_right">
        <img class="btn-right" src="https://static.tildacdn.com/tild6262-3031-4633-b863-623736636134/arrow-right.svg" alt="">
      </div>
    </div>

</div>
