<div class="slider-feedback">
  <div class="wrapper wrapper-feedback">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/1.jpg">
    <img class="slider__slide slider__slide_tall active3" src="https://design-school.taa-dev.pro/slider-feedback/2.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/3.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/4.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/5.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/6.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/7.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/8.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/9.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/10.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/11.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/12.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/13.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/14.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/15.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/16.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/17.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/18.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/19.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/20.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/21.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/22.jpg">
    <img class="slider__slide slider__slide_tall" src="https://design-school.taa-dev.pro/slider-feedback/23.jpg">
  </div>

  <div class="navigation3">
    <div class="btn-wrapper btn-wrapper_left">
      <img class="btn-left" src="https://design-school.taa-dev.pro/arrow-left.svg" alt="">
    </div>
    <div class="slider-info">1/6</div>
    <div class="btn-wrapper btn-wrapper_right">
      <img class="btn-right" src="https://design-school.taa-dev.pro/arrow-right.svg" alt="">
    </div>
  </div>
</div>

<div id="pop-up-window">
    <div class="pop-up_to-left"></div>
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/1.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/2.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/3.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/4.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/5.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/6.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/7.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/8.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/9.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/10.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/11.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/12.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/13.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/14.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/15.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/16.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/17.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/18.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/19.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/20.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/21.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/22.jpg" alt="">
    <img class="pop-up-window__image" src="https://design-school.taa-dev.pro/slider-feedback/feedback-origin/23.jpg" alt="">
    <div class="pop-up_to-right">
        <img src="https://img2.freepng.ru/20180530/lej/kisspng-sulapac-oy-slider-computer-icons-transport-logistic-5b0e29f6cf8ef2.5726827615276549028502.jpg" alt="">
    </div>
</div>
