<div class="slider">
    <div class="wrapper">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/1.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/2.jpg">
      <img class="slider__slide active" src="https://design-school.taa-dev.pro/slider-works/3.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/4.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/5.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/6.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/7.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/8.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/9.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/10.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/11.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/12.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/13.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/14.jpg">
    </div>

    <div class="navigation">
      <div class="btn-wrapper btn-wrapper_left">
        <img class="btn-left" src="https://design-school.taa-dev.pro/arrow-left.svg" alt="">
      </div>
      <div class="slider-info">1/6</div>
      <div class="btn-wrapper btn-wrapper_right">
        <img class="btn-right" src="https://design-school.taa-dev.pro/arrow-right.svg" alt="">
      </div>
    </div>

</div>
