<div id="my-slider" class="slider">
    <div class="wrapper">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/1.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/2.jpg">
      <img class="slider__slide active" src="https://design-school.taa-dev.pro/slider-works/3.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/4.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/5.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/6.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/7.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/8.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/9.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/10.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/11.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/12.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/13.jpg">
      <img class="slider__slide" src="https://design-school.taa-dev.pro/slider-works/14.jpg">
    </div>

    <div class="navigation">
        <input type="button" class="btn-left">
      <div class="slider-info"></div>
        <input type="button" class="btn-right">
    </div>
  </div>
