.galleryft-slider {
  overflow: hidden;
  width: 100vw;
  height: 34vw;
  position: relative;
  touch-action: manipulation;
}

.galleryft-slider__wrapper {
  display: flex;
  transition: transform .5s ease-out;
  width: max-content;
  transform: translate3d(-7.5vw, 0, 0);
}

@media (max-width: 575px) {
  .galleryft-slider {
    height: 120vw;
  }

  .galleryft-slider__wrapper {
    transform: translate3d(-200vw, 0, 0);
  }
}
