.galleryft-slider {
  overflow: hidden;
  width: 100vw;
  height: 34vw;
  position: relative;
}

.galleryft-slider__wrapper {
  display: flex;
  transition: transform .5s ease-out;
  width: max-content;
  transform: translateX(-7.5vw);
}

@media (max-width: 575px) {
  .galleryft-slider {
    height: 120vw;
  }

  .galleryft-slider__wrapper {
    transform: translateX(-200vw);
  }
}
