.galleryft-slider__slide {
  height: 18vw;
  width: 18vw;
  margin: 1vw;
  transform-origin: center top;
  transition: transform .5s ease-out, margin .5s ease-out;
  border-radius: .5em;
  overflow: hidden;
  cursor: pointer;
}

.galleryft-slider__slide_active {
  margin: 1vw 8.5vw;
  transform: scale(1.8);
}

@media (max-width: 575px) {
  .galleryft-slider__slide {
    height: 95vw;
    width: 95vw;
  }

  .galleryft-slider__slide_active {
    transform: scale(1);
  }
}
