.galleryft-slider__navigation {
  width: 61vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  transform: translateY(3vw);
}

.galleryft-slider__navigation-button {
  width: 12vw;
  height: 4vw;
}

.galleryft-slider__navigation-button_left,
.galleryft-slider__navigation-button_right {
  background: url(../img/arrow.svg) no-repeat center center/contain;
  border: none;
  cursor: pointer;
}

.galleryft-slider__navigation-button_right {
  transform: scale(-1);
}
