.galleryft-slider__navigation {

}

.galleryft-slider__navigation-button {
  width: 20vw;
  height: 10vw;
}

.galleryft-slider__navigation-button_left,
.galleryft-slider__navigation-button_right {
  background: url(../img/arrow.svg) no-repeat center center/cover;
}

.galleryft-slider__navigation-button_right {
  transform: scale(-1);
}
