.slider-curator {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: auto!important;
}

.hidden {
  visibility: hidden!important;
}

.reset {
  margin: 0;
  padding: 0;
}

.pinkBg {
  background: #EED6D5!important;
}

.navigation5 {
  position: unset!important;
  top: unset!important;
  transform: unset!important;
  align-items: baseline;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.curator-title {
  font-size: 1.6vw!important;
  font-family: 'El Messiri',Arial,sans-serif;
  font-weight: 500!important;
}
.curator-label,
.curator-list {
  font-size: 1.4vw!important;
  font-family: Alegreya Sans;
  font-weight: 400!important;
  word-wrap: normal!important;
  word-break: break-word!important;
}


@media (max-width:2560px) {
  .slider-curator {
    /*height: calc(200vw / 4)!important;*/
    color: #31332E!important;
    width: 100vw;
  }

  .slider-curator__slide {
    margin-left: 1.2vw!important;
    margin-right: 1.2vw!important;
  }

  .margin22 {
    margin-top: calc(22vw / 4);
    margin-bottom: 2vw;
    height: auto!important;
  }

  .curator-avatar {
    margin: auto;
    display: block;
    border-radius: 50%;
    transform: translateY(-50%);
    width: calc(40vw / 4);
  }

  .curator-title {
    /*font-size: calc(4.2vw / 4);*/
    /*font-weight: 400;*/
    width: 88%;
    margin: auto;
    transform: translateY(calc(-13vw / 4));
  }

  .curator-label {
    /*font-size: calc(4.4vw / 4);*/
  }

  .curator-list {
    /*font-size: calc(3.5vw / 4);*/
    width: 90%;
    margin: auto;
    transform: translateY(calc(-7vw / 4));
    margin-bottom: calc(3.4vw / 4);
  }

  .pinkBg {
    height: calc(160vw / 4)!important;
    width: calc(90vw / 4)!important;
  }
}





@media (max-width:979px) {
  .slider-curator {
    /*height: calc(170vw / 2)!important;*/
    color: #31332E!important;
  }

  .margin22 {
    margin-top: calc(22vw / 2);
    margin-bottom: 2vw;
    height: auto!important;
  }

  .curator-avatar {
    margin: auto;
    display: block;
    border-radius: 50%;
    transform: translateY(-50%);
    width: 20vw;
  }

  .curator-title {
    font-size: calc(1.6vw * 2)!important;
    /*font-weight: 400;*/
    width: 88%;
    margin: auto;
    transform: translateY(-6.5vw);
  }

  .curator-label {
    font-size: calc(1.4vw * 2)!important;
  }

  .curator-list {
    font-size: calc(1.4vw * 2)!important;
    width: 90%;
    margin: auto;
    transform: translateY(-3.5vw);
    margin-bottom: calc(3.4vw / 2);
  }

  .pinkBg {
    height: calc(160vw / 2)!important;
    width: calc(90vw / 2)!important;
  }
}









@media (max-width:480px) {
  .slider-curator {
    /*height: 170vw!important;*/
    color: #31332E!important;
  }
  .slider-curator__slide {
    margin: 5vw!important;
  }

  .margin22 {
    margin-top: 22vw;
    margin-bottom: 2vw;
    height: auto!important;
  }

  .curator-avatar {
    margin: auto;
    display: block;
    border-radius: 50%;
    transform: translateY(-50%);
    width: 40vw;
  }

  .curator-title {
    font-size: calc(1.6vw * 4)!important;
    /*font-weight: 400;*/
    width: 88%;
    margin: auto;
    transform: translateY(-13vw);
  }

  .curator-label {
    font-size: calc(1.4vw * 4)!important;
  }

  .curator-list {
    font-size: calc(1.4vw * 4)!important;
    width: 90%;
    margin: auto;
    transform: translateY(-7vw);
    margin-bottom: 3.4vw;
  }

  .pinkBg {
    height: 160vw!important;
    width: 90vw!important;
  }
}








.wrapper {
  align-items: flex-start;
  display: block;
  display: flex;
  height: 42vw;
  justify-content: flex-start;
  position: relative;
  transition: transform .5s ease-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

.slider__slide,
.slider__slide_elongated {
  align-self: flex-start;
  border-radius: .25em;
  display: inline;
  margin: 1.4vw;
  transform-origin: center top;
  transition: all .5s ease-out;
  width: 19vw
}

.slider__slide_tall {
  height: 31vw;
  width: unset;
  cursor: pointer
}

.slider__header {
  display: flex;
  align-items: center
}

.slider__title-name {
  font-family: El Messiri, Arial, sans-serif;
  height: 2vw;
  font-size: .9em
}

.navigation5 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  top: 0;
  transform: translate(35%, 28vw);
  width: 60vw
}

.btn-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: center
}

.btn-left,
.btn-right {
  width: 6vw
}

.slide__title {
  display: flex;
  margin-bottom: 1em;
  transform: translateX(-15px)
}

.slide__number {
  font-family: El Messiri, Arial, sans-serif;
  font-size: 65px;
  font-weight: 400;
  margin: 0;
  width: .9em;
  display: flex;
  justify-content: center
}

.slide__number,
.slide__title-value {
  align-self: flex-start;
  line-height: 1
}

.slide__title-value {
  font-family: Alegreya Sans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 72vw;
  word-break: break-word;
  line-height: 1.28;
  margin-right: 2em;
  transform: translateX(-4px)
}

.slide__title-value_small {
  font-size: 16px
}




@media (max-width:979px) {
  .slider-curator {
    width: 95vw;
  }

  .navigation5 {
    align-items: baseline;
    transform: translate(1.5vw, 53vw);
    width: 92vw
  }

  .btn-left,
  .btn-right {
    width: 12vw
  }
}



@media (max-width:480px) {
  .slider-curator {
    /*height: 115vw;*/
    width: 100vw
  }
  .wrapper {
    height: 80vw
  }
  .wrapper_text-slider {
    height: 97vw
  }
  .slider__slide,
  .slider__slide_elongated {
    height: unset;
    margin: 5vw;
    width: 90vw
  }
  .slider__slide_elongated {
    margin: unset
  }
  .slider__avatart {
    width: 16vw
  }
  .slider__header {
    margin-bottom: 1em
  }
  .active,
  .active2,
  .active3 {
    margin: 5vw;
    transform: scale(1)
  }
  .navigation5 {
    align-items: baseline;
    transform: translate(7%, 100vw);
    width: 88vw
  }

  .btn-left,
  .btn-right {
    width: 20vw
  }

  .slider__title-name {
    font-size: 1.1em;
    transform: translate(1em, -.5em)
  }
}





/*
@media (min-width:1800px) {
  .wrapper {
    height: 700px
  }
  .slider__slide_tall {
    height: 17.7vw
  }
  .active,
  .active2,
  .active3 {
    margin: 1.4vw;
    transform: scale(1)
  }
  .navigation,
  .navigation5 {
    transform: translate(35%, 22vw)
  }
  .navigation2 {
    transform: translate(35%, 16vw)
  }
  .navigation3 {
    transform: translate(30%, 22vw)
  }
}

@media (max-width:768px) {
  .slider,
  .slider-feedback,
  .slider-result,
  .slider-curator,
  .slider-students-work {
    width: 95vw
  }
  .wrapper {
    height: 60vw
  }
  .wrapper-feedback {
    height: 65vw
  }
  .slider__slide,
  .slider__slide_elongated {
    margin: 2vw 1.5vw;
    width: 45vw;
    height: 45vw
  }
  .slider__slide_elongated,
  .slider__slide_tall {
    height: unset
  }
  .slider__slide_elongated {
    margin: unset
  }
  .slider__avatart {
    width: 6vw
  }
  .active,
  .active2,
  .active3 {
    margin: 2vw 1.5vw;
    transform: scale(1)
  }
  .navigation,
  .navigation2,
  .navigation3,
  .navigation4,
  .navigation5 {
    align-items: baseline;
    transform: translate(1.5vw, 53vw);
    width: 92vw
  }
  .navigation2 {
    transform: translate(1.5vw, 42vw)
  }
  .navigation3 {
    transform: translate(1.5vw, 62vw)
  }
  .btn-left,
  .btn-right {
    width: 12vw
  }
  .slider-info {
    font-size: 18px;
    visibility: visible
  }
}


@media (max-width:375px) {
  .slider {
    height: 115vw
  }
  .wrapper {
    height: 100vw
  }
  .wrapper_text-slider {
    height: 106vw
  }
  .slider__slide,
  .slider__slide_elongated {
    margin: 4vw;
    width: 92vw
  }
  .slider__slide_elongated {
    margin: unset
  }
  .active,
  .active2,
  .active3 {
    margin: 4vw;
    transform: scale(1)
  }
  .navigation,
  .navigation5 {
    transform: translate(7%, 106vw)
  }
  .navigation4 {
    transform: translate(7%, 112vw)
  }
}

@media (max-width:320px) {
  .wrapper_text-slider {
    height: 115vw
  }
  .navigation2 {
    transform: translate(7%, 88vw)
  }
  .navigation4 {
    transform: translate(7%, 122vw)
  }
}

@media (min-width: 1800px) {
  .navigation2 {
    transform: translate(35%, 20vw);
  }
}

@media (min-width: 2500px) {
  .navigation2 {
    transform: translate(35%, 18vw);
  }
}
*/
