body,
html {
  margin: 0
}

.slider,
.slider-feedback,
.slider-result,
.slider-students-work {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw
}

.slider-info {
  font-family: El Messiri, Arial, sans-serif;
  visibility: hidden
}

.wrapper {
  align-items: flex-start;
  display: block;
  display: flex;
  height: 42vw;
  justify-content: flex-start;
  position: relative;
  transition: transform .5s ease-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content
}

.slider__slide,
.slider__slide_elongated {
  align-self: flex-start;
  border-radius: .25em;
  display: inline;
  margin: 1.4vw;
  transform-origin: center top;
  transition: all .5s ease-out;
  width: 19vw
}

.slider__slide_elongated {
  margin: unset
}

.slider__slide_tall {
  height: 31vw;
  width: unset;
  cursor: pointer;
}

.slider__header {
  display: flex;
  align-items: center
}

.slider__avatart {
  width: 2.5vw;
  margin: 0 0.8vw 0.5vw;
}

.slider__title-name {
  font-family: El Messiri, Arial, sans-serif;
  height: 2vw;
  font-size: .9em
}

.active,
.active2 {
  margin: 1.4vw 11vw;
  transform: scale(2)
}

.navigation,
.navigation2,
.navigation3,
.navigation4 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  top: 0;
  transform: translate(35%, 28vw);
  width: 60vw
}

.navigation2 {
  transform: translate(35%, 22vw)
}

.navigation3 {
  transform: translate(30%, 36vw);
  width: 64vw
}

.btn-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 25px;
  justify-content: center
}

.btn-left,
.btn-right {
  width: 6vw
}

.slide__title {
  display: flex;
  margin-bottom: 1em;
  transform: translateX(-15px)
}

.slide__number {
  font-family: El Messiri, Arial, sans-serif;
  font-size: 65px;
  font-weight: 400;
  margin: 0;
  width: .9em;
  display: flex;
  justify-content: center
}

.slide__number,
.slide__title-value {
  align-self: flex-start;
  line-height: 1
}

.slide__title-value {
  font-family: Alegreya Sans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 72vw;
  word-break: break-word;
  line-height: 1.28;
  margin-right: 2em;
  transform: translateX(-4px)
}

.slide__title-value_small {
  font-size: 16px
}

.slide__image {
  width: 92vw;
  border-radius: .25em
}

.slide__image_bottom {
  position: absolute;
  bottom: 0
}

@media (min-width:1800px) {
  .wrapper {
    height: 700px
  }
  .slider__slide_tall {
    height: 17.7vw
  }
  .active,
  .active2,
  .active3 {
    margin: 1.4vw;
    transform: scale(1)
  }
  .navigation {
    transform: translate(35%, 22vw)
  }
  .navigation2 {
    transform: translate(35%, 16vw)
  }
  .navigation3 {
    transform: translate(30%, 22vw)
  }
}

@media (max-width:768px) {
  .slider,
  .slider-feedback,
  .slider-result,
  .slider-students-work {
    width: 95vw
  }
  .wrapper {
    height: 60vw
  }
  .wrapper-feedback {
    height: 65vw
  }
  .slider__slide,
  .slider__slide_elongated {
    margin: 2vw 1.5vw;
    width: 45vw;
    height: 45vw
  }
  .slider__slide_elongated,
  .slider__slide_tall {
    height: unset
  }
  .slider__slide_elongated {
    margin: unset
  }
  .slider__avatart {
    width: 6vw
  }
  .active,
  .active2,
  .active3 {
    margin: 2vw 1.5vw;
    transform: scale(1)
  }
  .navigation,
  .navigation2,
  .navigation3,
  .navigation4 {
    align-items: baseline;
    transform: translate(1.5vw, 53vw);
    width: 92vw
  }
  .navigation2 {
    transform: translate(1.5vw, 42vw)
  }
  .navigation3 {
    transform: translate(1.5vw, 62vw)
  }
  .btn-left,
  .btn-right {
    width: 12vw
  }
  .slider-info {
    font-size: 18px;
    visibility: visible
  }
}

@media (max-width:425px) {
  .slider,
  .slider-feedback,
  .slider-result,
  .slider-students-work {
    height: 115vw;
    width: 100vw
  }
  .slider-feedback,
  .slider-result {
    height: 130vw
  }
  .wrapper {
    height: 80vw
  }
  .wrapper_text-slider {
    height: 97vw
  }
  .slider__slide,
  .slider__slide_elongated {
    height: unset;
    margin: 5vw;
    width: 90vw
  }
  .slider__slide_elongated {
    margin: unset
  }
  .slider__avatart {
    width: 16vw
  }
  .slider__header {
    margin-bottom: 1em;
  }
  .active,
  .active2,
  .active3 {
    margin: 5vw;
    transform: scale(1)
  }
  .navigation,
  .navigation2,
  .navigation3,
  .navigation4 {
    align-items: baseline;
    transform: translate(7%, 100vw);
    width: 88vw
  }
  .navigation2 {
    transform: translate(7%, 90vw)
  }
  .navigation3 {
    transform: translate(7%, 124vw)
  }
  .btn-left,
  .btn-right {
    width: 20vw
  }

  .slider__title-name {
    font-size: 1.1em;
    transform: translate(1em, -0.5em);
  }
}

@media (max-width:375px) {
  .slider {
    height: 115vw
  }
  .wrapper {
    height: 100vw
  }
  .wrapper_text-slider {
    height: 106vw
  }
  .slider__slide,
  .slider__slide_elongated {
    margin: 4vw;
    width: 92vw
  }
  .slider__slide_elongated {
    margin: unset
  }
  .active,
  .active2,
  .active3 {
    margin: 4vw;
    transform: scale(1)
  }
  .navigation {
    transform: translate(7%, 106vw)
  }
  .navigation4 {
    transform: translate(7%, 112vw)
  }
}

@media (max-width:320px) {
  .wrapper_text-slider {
    height: 115vw
  }
  .navigation2 {
    transform: translate(7%, 88vw)
  }
  .navigation4 {
    transform: translate(7%, 122vw)
  }
}
